<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- ----------------------JS - jQuery ------------->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- ----------------------JS - jQuery END ------------->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/stocksStyle.css">
    <link href="/static/css/headers.css" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>
<header th:insert="/blocks/header :: header"></header>

<div class="modal fade" id="characteristicModalWindow" tabindex="-1" role="dialog"
     aria-labelledby="EditCharacteristicModalWindows"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Edit characteristic">Изменить характеристику</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="alert-modal-div"></div>
            <div class="modal-body" id="modalBody">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="form-group" id="editFormContainer">
                            <label for="idInputModal"><strong>Id</strong></label>
                            <input type="text" class="form-control" id="idInputModal" readonly>
                            <label for="characteristicInputModal"><strong>Наименование характеристики</strong></label>
                            <input type="text" class="form-control" id="characteristicInputModal" required>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="dismissButton" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button id="acceptButton" type="button" class="btn" data-th-accept="modal">Изменить характеристику
                </button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper flex-grow-1 row">
    <div class="container col-11">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand font-weight-bold" sec:authentication="name"></a>
            <a class="navbar-brand"
               th:each="authority : ${#authentication.getAuthorities()}"
               th:text="${authority.getAuthority()} + ' '"></a>
            <a th:href="@{/manager}" class="btn btn-primary ml-auto">Кабинет менеджера</a>
            <a th:href="@{/logout}" class="btn btn-warning ml-auto">Logout</a>
        </nav>
        <div class="card">
            <h5 class="card-header">Управление характеристиками</h5>
            <div id="alert-div"></div>
            <div class="card-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-characteristics-tab" data-toggle="tab"
                           href="#nav-characteristics"
                           role="tab" aria-controls="nav-characteristics" aria-selected="true">Все характеристики</a>
                        <a class="nav-item nav-link" id="nav-addCharacteristics-tab" data-toggle="tab"
                           href="#nav-addCharacteristics"
                           role="tab" aria-controls="nav-addCharacteristics" aria-selected="false">Добавление
                            харакетеристик</a>
                    </div>
                    <div class="form-group col-3 mr-3 pull-right">
                        <select class="form-control form-control-sm" id="filterCategory">
                            <option value="default">Все категории</option>
                            <option th:each="dropDownItem : ${listCategories}"
                                    th:value="${dropDownItem}"
                                    th:text="${dropDownItem}"></option>
                            <div class="dropdown-divider"></div>
                        </select>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-characteristics" role="tabpanel"
                         aria-labelledby="nav-characteristics-tab">
                        <!--                main tab -->
                        <table class="table table-active table-striped bg-white" id="characteristic-table">

                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-addCharacteristics" role="tabpanel"
                         aria-labelledby="nav-addCharacteristics-tab">
                        <!--                Secondary user addition form-->

                        <div class="container">
                            <div class="row mt-5">
                                <div class="col-sm">
                                    <h4>Добавление новой харакетристики</h4>
                                    <form id="addForm">
                                        <div class="panel panel-default" id="new-characteristic-form">
                                            <div class="panel-body">
                                                <div class="form-group col-6">
                                                    <div id="add-characteristicName-form-group" class="form-group">
                                                        <label for="addCharacteristicName">Наименование:</label>
                                                        <input type="email" id="addCharacteristicName"
                                                               name="characteristicName"
                                                               placeholder="Наименование"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="mt-4 ml-3">
                                                    <button id="addBtn" type="button"
                                                            class=" btn btn-outline-success btn-md btn">
                                                        Добавить новую характеристику
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm">
                                    <h4>Добавление характеристик к выбранной категории</h4>
                                    <div class="form-group">
                                        <label>Характеристики, которых нет в выбранной категории:</label>
                                        <select id="addCharacteristics" name="characteristics" class="form-control"
                                                multiple="multiple">
                                        </select>
                                        <div class="mt-4"></div>
                                        <button id="addCharacteristicsToCategory" type="button"
                                                class=" btn btn-outline-success btn-md btn">
                                            Добавить характеристики
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="../static/js/managerCharacteristics.js"></script>
<script src="../static/js/searchButton.js"></script>
<script src="/static/js/textRedactor.js"></script>
<script src="/static/js/date_range.js"></script>
<script src="/static/js/jqx/jqxcore.js"></script>
<script src="/static/js/jqx/jqxbuttons.js"></script>
<script src="/static/js/jqx/jqxpanel.js"></script>
<script src="/static/js/jqx/jqxtree.js"></script>
<script src="/static/js/jqx/jqxscrollbar.js"></script>
</body>
</html>