<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
    <link rel="stylesheet" type="text/css" href="../static/css/404PageStyle.css">
</head>
<body>
<div class="container-fluid main-wrapper">
    <div class="second">
        <div class="third">
            <h1>This page
                does not exist.<br>...or does it?
            </h1>
            <h3>Try the <a href="/">homepage</a>.</h3>
            <div id="error-animation">
                <img src="/static/img/404Page/unicorn.gif" alt="error animation">
            </div>
        </div>
    </div>
</div>
</body>
</html>
