svg {
    display: block;
    width: 50px;
    height: auto;
}

* {
    fill: transparent;
    stroke: #f00;
    stroke-width: 6px;
    transition: fill .3s;
}

*.filled {
    fill: #f00;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    background-color: transparent;
    border-bottom: 3px solid #ff8c00;
    border-right: none;
    border-left: none;
    border-top: none;
}

.favouritesgroups {
    background-color: #dee2e6;
    padding: 10px;
}

.favouritesgroups.selected {
    background-color: #dee2e6;
}

.hidden {
    display: none;
}

.ch_select_all {
    font-weight: bold;
    font-weight: 400;
    color: #212529;
}

.select-group-tr-input {
    border: none;
}

.messages-after-submit {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: red;
}