a:not([href]){
    color: white;
}
a:not([href]):hover {
    color: white;
}

.signBtn, .loginBtn {
    width: 100%;
    height: 35px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.btn-social.btn-sm>:first-child {
    padding-top: 3px;
}

.signBtn,.loginBtn {
    width: 100%;
    height: 35px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

.btn-odnoklassniki,.btn-facebook,.btn-twitter,.btn-vk {
    width: 100%;
    height: 35px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

