body {
    background-color: #EEEDE9;
    height: 100%;
    color: #2F3034;
    font-family: LeituraDisplay, serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 16px;
    text-align: center;
    line-height: 1.2;
}

.main-wrapper {
    box-sizing: border-box;
    height: auto;
    min-height: min-content;
    overflow: hidden;
    padding-top: 70px;
    position: relative;
    display: inline-block;

}

.second {
    margin: auto;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    display: inline-block;
}

.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.github a:hover {
    background: #191919;
    color: #fff;
}

.twitter a:hover {
    background: #00acee;
    color: #fff;
}

.instagram a:hover {
    background: #3f729b;
    color: #fff;
}

.facebook a:hover {
    background: #3b5998;
    color: #fff;
}

.skype a:hover {
    background: #00aff0;
    color: #fff;
}

.vk a:hover {
    background: #5d84ae;
    color: #fff;
}

.telegram a:hover {
    background: #249bd7;
    color: #fff;
}

.whatsapp a:hover {
    background: #50b154;
    color: #fff;
}