body {
    height: 100%;
}

.underline {
    border-bottom: 2px solid coral;
}

#cont {
    width: 100%;
    padding-left: 10%;
    text-align: center
}

a {
    cursor: pointer;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
