<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
</head>
<body>
<div class="container">
    <!-- Compiled and minified CSS -->
    <div class="container">
        <form method="POST" id="commentForm">
            <div class="form-group">
                <input name="content" id="content" class="form-control" placeholder="Enter Comment">
            </div>
            <span id="message"></span>
            <div class="form-group">
                <input type="hidden" name="parent_id" id="parent_id" value=""/>
                <input type="button" name="submit" id="submitCommentBtn" class="btn btn-primary" value="Post Comment"/>
            </div>
        </form>
        <div id="showComments"></div>
    </div>
</div>
</body>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/comments.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</html>