<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <script src="../static/js/customer.js"></script>
    <script src="../static/js/busket.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/customer">Главная</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/customer/profile">Профиль</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" data-toggle="tab" role="tab" href="#favouritesGoods" aria-controls="favouritesGoods" onclick="fillFavouritesGoods()">Избранное</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" data-toggle="tab" role="tab" href="#basket" aria-controls="favouritesGoods" onclick="fillBusket()">Корзина</a>
            </div>
        <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
            <a class="btn btn-outline-primary" href="/customer/order">Заказы</a>
        </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/logout">Выйти</a>
            </div>
        </div>
        <div class="col-md-10"
             style="background: #edeef0">
            <div class="tab-content">
                <div class="tab-pane" id="favouritesGoods" role="tabpanel" aria-labelledby="favouritesGoods-tab">
                    <h3>Избранное</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">product</th>
                            <th scope="col">price</th>
                            <th scope="col">amount</th>
                        </tr>
                        </thead>
                        <tbody id="favouritesGoodsList">

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="basket" role="tabpanel" aria-labelledby="basket-tab">
                    <h3>корзина</h3>
                    <div class="row min-vh-100">
                        <div class="col-md-9" style="padding-right: 0px; padding-left: 0px" >
                            сама корзина
                            <table class="table table-striped">
                            <tbody id="busketList">

                            </tbody>
                            </table>
                        </div>
                        <div class="col-md-3" style="padding-right: 0px; padding-left: 0px">
                            <tr>
                                <span>общее количество товара:</span>
                                <h3 id="countBasketGoods"></h3>
                            </tr>
                            <tr>
                                <span>стоимость заказа:</span>
                                <h3 id="sumBasketGoods"></h3>
                            </tr>

                            <button class="btn btn-lg btn-primary btn-block" onclick="buildOrderFromBasket()">купить</button>
                        </div>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>



