<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <title>Детали заказа</title>
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/customer">Главная</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" data-toggle="tab" role="tab" href="#favouritesGoods" aria-controls="favouritesGoods" onclick="fillFavouritesGoods()">Избранные товары</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary active" href="/customer/order">Заказы</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/customer/profile">Профиль</a>
            </div>
            <a class="btn btn-link" href="/customer/order"><---обратно</a>
        </div>
        <div class="col-md-10" style="background: #edeef0">
            <div class="col-12"><h1></h1></div>
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-12">
                        <h4 th:text="'Заказ №: ' + ${order.id}"></h4>
                    </div>
                    <div class="col-12">
                        <h6 th:text="'Дата заказа: ' + ${#temporals.format(order.dateTime, 'dd-MM-yyyy HH:mm')}"></h6>
                    </div>
                    <div class="col-6">
                        <h3>Общая стоимость:</h3>
                    </div>
                    <div class="col-6">
                        <h3 th:text="${order.orderPrice} + ' P'"></h3>
                    </div>
                </div>
                <div th:each="product : ${order.productInOrders}" class="row alert alert-light mt-2">
                    <div class="col-3">
                        <h4 th:text="${product.product.product}"></h4>
                    </div>
                    <div class="col-3">
                        <h4 th:text="'количество: ' + ${product.amount}"></h4>
                    </div>
                    <div class="col-3">
                        <h4 th:text="'цена: ' + ${product.product.price} + ' &#8381;'"></h4>
                    </div>
                    <div class="col-3">
                        <h4 th:text="'сумма: ' + ${product.amount}*${product.product.price} + ' &#8381;'"></h4>
                    </div>
                </div>
                <div class="col-12"><h1>&nbsp;</h1></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>