<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">



<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{your-app-id}',
            cookie     : true,
            xfbml      : true,
            version    : '{api-version}'
        });

        FB.AppEvents.logPageView();

    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>



<section id="loginform" class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="container h-100">
            <div class="row h-75 justify-content-center align-items-center">
                <div class="col-sm-4 col-sm-offset-6">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <form th:action="@{/login}" method="post" class="form-group">
                        <input type="text" id="email" name="login_username" autofocus="autofocus" placeholder="Email"
                               class="form-control">

                        <input type="password" id="password" name="login_password" placeholder="Password"
                               class="form-control"/>

                        <button class="btn btn-primary btn-sm btn-block">Sign In</button>
                    </form>
                    <div class=""> <a href="/oauth2/authorization/facebook" class="btn btn-primary btn-block facebook" style="background-color: #3B5998"> <span>Login with Facebook</span> <i class="fa fa-facebook"></i> </a> </div>
                </div>

            </div>
        </div>
    </div>

</section>