<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="https://kit.fontawesome.com/8b586a0688.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
<body>

<section id="loginform" class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="container h-100">
            <div class="row h-75 justify-content-center align-items-center">
                <div class="col-sm-4 col-sm-offset-6">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <form th:action="@{/login}" method="post" class="form-group">
                        <input type="email" id="email" name="login_username" autofocus="autofocus" placeholder="Email"
                               class="form-control">

                        <input type="password" id="password" name="login_password" placeholder="Password"
                               class="form-control"/>
                        <div class="form-check">
                            <input class="form-check-input" name="remember-me" type="checkbox" id="rememberMeCheckbox">
                            <label class="form-check-label" for="rememberMeCheckbox">
                                Remember me
                            </label>
                        </div>
                        <button class="btn btn-primary btn-sm btn-block">Sign In</button>
                    </form>
                    <div>
                        <a href="/oauth2/authorization/facebook" title="Facebook"
                           class="btn btn-block btn-sm  btn-social btn-lg btn-facebook">
                            <i class="fa fa-facebook"></i> Sign in with Facebook
                        </a>
                    </div>
                    <br>
                    <div>
                        <a th:href="${authUrlOK}" class="btn btn-block btn-social btn-odnoklassniki">
                            <span style="text-decoration-color: #f9f9f9" class="fa fa-odnoklassniki"></span> Sign in
                            with Odnoklassniki
                        </a>
                    </div>
                    <br>
                    <div>
                        <a th:href="${twitterUrl}" class="btn btn-block btn-social btn-twitter">
                            <span class="fa fa-twitter"></span> Sign in with Twitter
                        </a>
                    </div>
                    <br>
                    <div><a th:href="${authUrlVK}" title="VKontakte" class="btn btn-block btn-social btn-vk">
                        <i class="fa fa-vk"></i> Sign in with VKontakte
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>