<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт закрыт на техническое обслуживание</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/maintenancemode.css">
</head>
<body>
<div class="container-fluid main-wrapper">
    <div class="second">
        <div class="third">
            <h1>Ведутся технические работы</h1>
            <p>Наш сайт находится на техническом обслуживании и скоро будет доступен.</p>
            <h3>8-800-800-800-8</h3>
        </div>

        <h4 class="pb-3 m-0">Social media
            <hr/>
        </h4>

        <div class=" social github">
            <a href="#" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </div>
        <div class=" social twitter">
            <a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
        <div class=" social facebook">
            <a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        </div>
        <div class=" social vk">
            <a href="#" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
        </div>
        <div class=" social instagram">
            <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
        <div class=" social telegram">
            <a href="#" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
        </div>
    </div>
</div>
</body>
</html>
