<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="/static/css/mainPage.css" rel="stylesheet" type="text/css" >

    <script src="/static/js/mainPage.js"></script>
    <script src="/static/js/jquery.hoverIntent.minified.js"> </script>
    <title></title>
</head>

<script>

    jQuery(document).ready(function($) {
        $('#mega-1').dcVerticalMegaMenu();
    });

</script>


<body>

<header>

    <div> <a th:href="@{/}"> Logo place </a> </div>

    <!-- Search -->
    <form class="form-inline">
        <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
    </form>


    <!-- Customer service -->
    <div class="btn customerbutton">
        <a th:href="@{/customer}"> Кабинет покупателя </a>
    </div>
    <!-- Registration -->
    <div sec:authorize="!hasAnyAuthority('ROLE_CUSTOMER')" class="btn registrationbutton">
        <a th:href="@{/registration}"> Регистрация </a>
    </div>
    <!-- Login -->
    <div sec:authorize="!hasAnyAuthority('ROLE_CUSTOMER')" class="btn loginbutton">
        <a th:href="@{/login}"> Войти </a>
    </div>
    <div sec:authorize="hasAnyAuthority('ROLE_CUSTOMER')" class="btn loginbutton">
        <a th:href="@{/logout}"> Выйти </a>
    </div>

</header>

<div class="demo-container clear">
    <div class="test">
        <ul id="mega-1" class="mega-menu">
            <li><a href="#">Смартфоны и гаджеты</a>
                <ul>
                    <li><a href="#">Смартфоны</a>
                        <ul><li><a href="#">Смартфоны</a></li>
                            <li><a href="#">Электронные часы</a></li>
                        </ul></li>
                    <li><a href="#">Планшеты</a>
                        <ul><li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                        </ul></li>
                    <li><a href="#">Электронные книги</a>
                        <ul><li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                        </ul></li>
                </ul></li>
            <li><a href="#">Компьютеры</a>
                <ul>
                    <li><a href="#">Компьютеры</a>
                        <ul><li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                        </ul></li>
                    <li><a href="#">Комплектующие</a>
                        <ul><li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                        </ul></li>
                    <li><a href="#">Периферия</a>
                        <ul><li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                            <li><a href="#">Menu Link</a></li>
                        </ul></li>
                </ul></li></ul>

    </div>
</div>

</body>
</html>