<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="/static/css/headers.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery/jquery-3.5.1.min.js"></script>
    <!-- CSS fot toaster -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
          integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
          crossorigin="anonymous"/>
    <title>Admin panel</title>

</head>
<body style="background-color: whitesmoke">

<header th:insert="blocks/header :: header"></header>

<main>

    <div class="container-fluid">
        <div class="row">

            <!-- Панель навигации -->
            <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager">Главная</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/news">Новости</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/stocks">Акции</a>
                </div>
                <div id="user-profile" class="nav flex-column nav-pills mt-2 container-fluid" role="tablist"
                     aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/profile">Профиль</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/products">Товары</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/characteristics"> Характеристики</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/rating">Рейтинг товаров</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/shops">Адреса магазинов</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/reports">Отчёты</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/mailing">Рассылки</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/feedback">Обратная связь</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/settings">Настройки</a>
                </div>
            </div>
            <!-- Панель навигации -->

            <!--наполнение справа-->
            <div class="col-md-10 bg-light">

                <div class="tab-content">

                    <!--Admin-->
                    <div class="tab-pane fade show active" id="Admin" role="tabpanel" aria-labelledby="profile-tab">

                        <!--Display logged in user's name-->
                        <nav class="navbar navbar-dark bg-dark">
                            <ul class="navbar-nav">
                                <li class="navbar-text">
                                    <span sec:authentication="name"></span> with roles:
                                    <th:block th:each="authority, iter:${#authentication.getAuthorities()}">
                                        <span th:if="${authority.getAuthority().startsWith('ROLE_')}"
                                              th:text="${authority.getAuthority().replaceFirst('ROLE_', '')}"></span>
                                        <th:block th:if="${!iter.last}">,</th:block>
                                    </th:block>
                                </li>
                            </ul>
                        </nav>

                        <!--Display logged in user's name-->

                        <div class="card">
                            <div id="alert-div">
                            </div>
                            <div class="card-body">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <!-- Таблица адресов -->
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                           href="#nav-home"
                                           role="tab" aria-controls="nav-home" aria-selected="true">Таблица адресов</a>
                                        <!-- Таблица адресов -->

                                        <!-- Добавление адреса -->
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                           href="#nav-profile"
                                           role="tab" aria-controls="nav-profile" aria-selected="false">Добавление адреса</a>
                                        <!-- Добавление адреса  -->

                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                         aria-labelledby="nav-home-tab">
                                        <!-- MAIN TAB -->
                                        <table class="table table-active table-striped" id="address-table"
                                               style="background-color: white">
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                         aria-labelledby="nav-profile-tab">
                                        <!--                Secondary user addition form-->
                                        <h3>Add User</h3>
                                        <form id="addForm">
                                            <div class="panel panel-default" id="new-user-form">
                                                <div class="panel-body">
                                                    <div id="add-email-form-group" class="form-group">
                                                        <label for="addEmail">Email:</label>
                                                        <input type="email" id="addEmail" autocomplete="new-password"
                                                               name="email"
                                                               placeholder="E-mail"
                                                               class="form-control">
                                                    </div>
                                                    <div class="form-group addPasswordDiv">
                                                        <label for="addPassword">Пароль:</label>
                                                        <input type="password" id="addPassword"
                                                               autocomplete="new-password"
                                                               name="password" placeholder="Password"
                                                               class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Роли:</label>
                                                        <select id="addRoles" name="roles" class="form-control"
                                                                multiple="multiple">
                                                        </select>
                                                    </div>
                                                    <button id="addBtn" type="button"
                                                            class=" btn btn-success btn-md btn">
                                                        Add
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--Admin-->

                    <!--Профиль-->
                    <div class="tab-pane" id="Profile" role="tabpanel">
                        <div th:insert="blocks/profile-admin-manager-service :: profile"></div>
                    </div>
                    <!--Профиль-->

                </div>
            </div>
            <!--наполнение справа-->
        </div>
    </div>

    <!--modal-->
    <div class="modal fade" id="userModalWindow" tabindex="-1" role="dialog" aria-labelledby="EditUserModalWindows"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalWindowTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="alert-modal-div">

                </div>
                <div class="modal-body" id="modalBody">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="form-group" id="editFormContainer">
                                <label for="idInputModal"><strong>Id</strong></label>
                                <input type="text" class="form-control" id="idInputModal" readonly>
                                <label for="emailInputModal"><strong>Email</strong></label>
                                <input type="email" class="form-control" id="emailInputModal" required>
                                <label for="firstNameInputModal"><strong>Имя</strong></label>
                                <input type="text" class="form-control" id="firstNameInputModal">
                                <label for="lastNameInputModal"><strong>Фамилия</strong></label>
                                <input type="text" class="form-control" id="lastNameInputModal">
                                <label for="passwordInputModal" id="passwordLabelModal"><strong>Пароль</strong></label>
                                <input type="password" class="form-control" id="passwordInputModal">
                                <label for="rolesSelectModal" id="roleLabelModal"><strong>Роли</strong></label>
                                <select multiple class="form-control" id="rolesSelectModal" name="newRolesIds" required>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="dismissButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button id="acceptButton" type="button" class="btn" data-th-accept="modal"></button>
                </div>
            </div>
        </div>
    </div>
    <!--modal-->
</main>

<!--bootstrap scripts-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<!--для лупы  поиска :)-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!--main script-->
<script src="/static/js/profile-admin-manager-service.js"></script>
<script src="/static/js/profile-picture.js"></script>
<script src="/static/js/manager-shops.js"></script>
<!-- Toaster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous"></script>
</body>
</html>


