<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="background-color: whitesmoke">

<h1 style="font-size: 38px; background-color: black; color: white">
    <span sec:authentication="name"></span>
    <span th:each="authority : ${#authentication.getAuthorities()}"
          th:text="${authority.getAuthority()}">
    </span>

    <h1>Welcome to Manager's page</h1>


</h1><a th:href="@{/logout}">
    <button type="button" class="btn btn-info mb-3 btn-md">Logout</button>
</a>

</body>
</html>