<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="/static/css/headers.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery/jquery-3.5.1.min.js"></script>
    <!-- CSS fot toaster -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
          integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
          crossorigin="anonymous"/>
    <title>Admin panel</title>

</head>
<body style="background-color: whitesmoke">

<header th:insert="blocks/header :: header"></header>

<main>

    <div class="container-fluid">
        <div class="row">

            <!--навигация слева-->
            <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager">Главная</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/news">Новости</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/stocks">Акции</a>
                </div>
                <div id="user-profile" class="nav flex-column nav-pills mt-2 container-fluid" role="tablist"
                     aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/profile">Профиль</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/products">Товары</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/characteristics"> Характеристики</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/rating">Рейтинг товаров</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/shops">Адреса магазинов</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/reports">Отчёты</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/mailing">Рассылки</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/feedback">Обратная связь</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a class="btn btn-outline-primary" href="/manager/settings">Настройки</a>
                </div>
            </div>
            <!--навигация слева-->

            <!--наполнение справа-->
            <div class="col-md-10 bg-light">

                <div class="tab-content">

                    <!--Admin-->
                    <div class="tab-pane fade show active" id="Admin" role="tabpanel" aria-labelledby="profile-tab">

                        <!--Display logged in user's name-->
                        <nav class="navbar navbar-dark bg-dark">
                            <ul class="navbar-nav">
                                <li class="navbar-text">
                                    <span sec:authentication="name"></span> with roles:
                                    <th:block th:each="authority, iter:${#authentication.getAuthorities()}">
                                        <span th:if="${authority.getAuthority().startsWith('ROLE_')}"
                                              th:text="${authority.getAuthority().replaceFirst('ROLE_', '')}"></span>
                                        <th:block th:if="${!iter.last}">,</th:block>
                                    </th:block>
                                </li>
                            </ul>
                        </nav>

                        <!--Display logged in user's name-->

                        <!-- Main panel -->
                        <div class="col-10" id="adminPanel" data-spy="scroll" data-target="#v-pills-tabContent">
                            <div class="tab-content" id="v-pills-tabContent">

                                <!--Admin panel-->
                                <div id="change-tabContent">
                                    <br>
                                    <!-- User Table/New User -->
                                    <ul class="nav nav-tabs" id="AdminTabs" role="tablist">
                                        <li class="nav-item" role="presentation" id="UsersTableNavTabs">
                                            <a class="nav-link active" id="usersTable-tab" data-toggle="tab" role="tab"
                                               aria-controls="usersTable" aria-selected="true" href="#usersTable">Таблица адресов</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="newUser-tab" data-toggle="tab" role="tab"
                                               aria-controls="newUser" aria-selected="false" href="#newUser">Добавить адрес</a>
                                        </li>
                                    </ul>


                                    <!-- Admin -->
                                    <div class="tab-content" id="AdminTabsContent">
                                        <!-- Users table -->
                                        <div class="tab-pane fade show active" id="usersTable" role="tabpanel" aria-labelledby="usersTable-tab">
                                            <div class="card">
                                                <div id="all-users-table">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">ID</th>
                                                            <th scope="col">Регион</th>
                                                            <th scope="col">Город</th>
                                                            <th scope="col">Улица</th>
                                                            <th scope="col">Дом</th>
                                                            <th scope="col">Статус</th>
                                                            <th scope="col">Edit</th>
                                                            <th scope="col">Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="table"> </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        <!--New user-->
                                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                                            <div class="card">
                                                <div class="card-header font-weight-bold" style="font-size: 20px">Add new user</div>
                                                <form class="form-horizontal mx-auto font-weight-bold" id="new-form">
                                                    <br>

                                                    <div class="form-group row">
                                                        <label class="text-center mx-auto" for="usernameNew">Username</label>
                                                        <input type="text" class="form-control" id="usernameNew">
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="text-center mx-auto" for="firstnameNew">First Name</label>
                                                        <input type="text" class="form-control" id="firstNameNew">
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="text-center mx-auto" for="lastnameNew">Last Name</label>
                                                        <input type="text" class="form-control" id="lastNameNew">
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="text-center mx-auto" for="ageNew">Age</label>
                                                        <input type="text" class="form-control" id="ageNew">
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="text-center mx-auto" for="emailNew">Email</label>
                                                        <input type="text" class="form-control" id="emailNew">
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="text-center mx-auto" for="passwordNew">Password</label>
                                                        <input type="password" class="form-control" id="passwordNew">
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="text-center mx-auto" for="rolesNew">Roles</label>
                                                        <select class="form-control" id="rolesNew" multiple="multiple"></select>
                                                    </div>

                                                    <div class="form-group row">
                                                        <button class="btn btn-success mx-auto" type="button" id="buttonInputNewSubmit">Add new user</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                    </div>
                    <!--Admin-->

                    <!--Профиль-->
                    <div class="tab-pane" id="Profile" role="tabpanel">
                        <div th:insert="blocks/profile-admin-manager-service :: profile"></div>
                    </div>
                    <!--Профиль-->
                </div>
            </div>
            <!--наполнение справа-->
        </div>
    </div>

                <!-- Modal Edit -->
                <div class="modal fade" id="userModalWindow" tabindex="-1" role="dialog" aria-labelledby="EditUserModalWindows"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="userModalWindowTitle"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="alert-modal-div">

                            </div>
                            <div class="modal-body" id="modalBody">
                                <div class="row justify-content-center">
                                    <div class="col">
                                        <div class="form-group" id="editFormContainer">
                                            <label for="idInputModal"><strong>Id</strong></label>
                                            <input type="text" class="form-control" id="idInputModal" readonly>
                                            <label for="emailInputModal"><strong>Email</strong></label>
                                            <input type="email" class="form-control" id="emailInputModal" required>
                                            <label for="firstNameInputModal"><strong>Имя</strong></label>
                                            <input type="text" class="form-control" id="firstNameInputModal">
                                            <label for="lastNameInputModal"><strong>Фамилия</strong></label>
                                            <input type="text" class="form-control" id="lastNameInputModal">
                                            <label for="passwordInputModal" id="passwordLabelModal"><strong>Пароль</strong></label>
                                            <input type="password" class="form-control" id="passwordInputModal">
                                            <label for="rolesSelectModal" id="roleLabelModal"><strong>Роли</strong></label>
                                            <select multiple class="form-control" id="rolesSelectModal" name="newRolesIds" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="dismissButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                                <button id="acceptButton" type="button" class="btn" data-th-accept="modal"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--modal-->


                <!-- Modal Delete -->
                <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog"
                     aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold" id="deleteUserModalLabel">Delete user</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal text-center mx-auto font-weight-bold" role="form" id="delete-form">
                                    <div class="form-group">
                                        <label class="control-label" for="idDelete">ID</label>
                                        <input type="text" class="form-control" id="idDelete" disabled='disabled'/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="regionDelete">Регион</label>
                                        <input type="text" class="form-control" id="regionDelete" disabled='disabled'/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="cityDelete">Город</label>
                                        <input type="text" class="form-control" id="cityDelete" disabled='disabled'/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="streetDelete">Улица</label>
                                        <input type="text" class="form-control" id="streetDelete" disabled='disabled'/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="buildingDelete">Дом</label>
                                        <input type="text" class="form-control" id="buildingDelete" disabled='disabled'/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="emailDelete">Статус</label>
                                        <input type="text" class="form-control" id="emailDelete" disabled='disabled'/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="buttonDeleteSubmit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--bootstrap scripts-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<!--для лупы  поиска :)-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!--main script-->
<script src="/static/js/manager-shops.js"></script>
<!-- Toaster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous"></script>
</body>
</html>


