<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Manager Settings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--    summernote-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <!--    Toastr css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
          integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #7373ee">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
        <div class="navbar-text"><a th:href="@{/logout}">Выйти</a></div>
    </nav>
</header>
<div id="infoDiv">
</div>
<div class="container-fluid">
    <div class="row content">
        <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/manager">Главная</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/manager/news"> Новости</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/manager/stocks"> Акции</a>
            </div>
            <div id="user-profile" class="nav flex-column nav-pills mt-2 container-fluid" role="tablist"
                 aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/authority/profile">Профиль</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/manager/products"> Товары</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/manager/reports">Отчёты</a>
            </div>
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <a class="btn btn-outline-primary" href="/manager/settings"> Настройки</a>
            </div>
        </div>
        <div class="col-sm-8 text-left">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-distribution"
                       role="tab"
                       aria-controls="nav-home" aria-selected="true">E-mail рассылка</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-priceChange" role="tab"
                       aria-controls="nav-profile" aria-selected="false">Снижение цен</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#priceListCreate" role="tab"
                       aria-controls="nav-contact" aria-selected="false">Ежедневный прайс</a>
                    <a class="nav-item nav-link" id="nav-categories-and-topics-tab" data-toggle="tab"
                       href="#nav-categories-and-topics" role="tab"
                       aria-controls="nav-categories-and-topics" aria-selected="false">Обратная связь</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-distribution" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <br>
                    <form id="distributionSettingsForm">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="emailDistributionCheckbox">
                            <label class="form-check-label" for="emailDistributionCheckbox">Включить рассылку акций на
                                почту</label>
                        </div>
                        <div class="form-group" id="distributionTimeDiv">
                            <label for="distributionTimeInput">Выберите время для рассылки</label>
                            <input class="form-control" type="time" id="distributionTimeInput" style="width: 10%">
                        </div>
                        <button class="btn btn-primary" id="saveSettingsChanges">Сохранить</button>
                    </form>
                    <hr>
                    <form id="emailTemplateEditForm">
                        <div class="form-group">
                            <div class="form-col">
                                <label for="editTemplateSummernote" class="font-weight-bold">Редактирование шаблона
                                    рассылки</label>
                                <textarea id="editTemplateSummernote"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-primary" id="saveTemplateChanges">Сохранить шаблон</button>
                    </form>
                    <hr>
                    <h2>Важная информация!</h2>
                    <ul>
                        <p><strong>Для корректной генерации письма надо использовать теги:</strong></p>
                        <li>@@user@@ - вместо этого тега в письме подставляется user.firstName</li>
                        <li>@@stockList@@ - вместо этого тега в письме подставляется List действующих и будущих акций
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="nav-priceChange" role="tabpanel" aria-labelledby="nav-2-tab">
                    <form id="priceChangeTemplateEditForm">
                        <div class="form-group">
                            <div class="form-col">
                                <label for="editTemplateSummernote" class="font-weight-bold">Редактирование шаблона
                                    рассылки при изменнеии цены</label>
                                <textarea id="editPriceChangeTemplateSummernote"></textarea>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h2>Важная информация!</h2>
                    <ul>
                        <p><strong>Для корректной генерации письма надо использовать теги:</strong></p>
                        <li>@@user@@ - вместо этого тега в письме подставляется user.firstName</li>
                        <li>@@oldPrice@@ - вместо этого тега в письме подставится старая цена на товар</li>
                        <li>@@newPrice@@ - вместо этого тега в письме подставится новая цена на товар</li>
                        <li>@@product@@ - вместо этого тега в письме подставится название товара</li>
                    </ul>
                    <button class="btn btn-primary" id="savePriceChangeTemplateChanges">Сохранить шаблон</button>
                </div>
                <div class="tab-pane fade" id="priceListCreate" role="tabpanel" aria-labelledby="nav-3-tab">
                    <form id="priceListCreateTimeChange">
                        <div class="form-group" id="priceListCreateTimeChangeHere">
                            <label for="priceTimeInput">Выберите время создания прайс-листа</label>
                            <input class="form-control" type="time" id="priceTimeInput" style="width: 10%">
                        </div>
                        <button class="btn btn-primary" id="savePriceTimeChanges">Сохранить</button>
                    </form>
                </div>
                <!--  Раздел для редактирования категорий и тем -->
                <div class="tab-pane fade" id="nav-categories-and-topics" role="tabpanel"
                     aria-labelledby="nav-categories-and-topics-tab">
                    <h1 class="font-weight mt-3 pb-1">Здесь вы можете редактировать категории и темы</h1>
                    <!-- Навигация для категорий и тем-->
                    <nav>
                        <div class="nav nav-tabs" id="actual-and-archives-categories-tab" role="tablist">
                            <a class="nav-link active" id="nav-actual-categories-tab" data-toggle="tab"
                               href="#nav-actual-categories" role="tab" aria-controls="nav-actual-categories"
                               aria-selected="true">Категории</a>
                            <a class="nav-link" id="nav-archive-categories-tab" data-toggle="tab"
                               href="#nav-archive-categories" role="tab" aria-controls="nav-archive-categories"
                               aria-selected="false">Архив</a>


                        </div>
                    </nav>
                    <!-- Конец навигация для категорий и тем -->
                    <!-- Области контроля навигация для категорий и тем -->
                    <div class="tab-content" id="actual-and-archives-categories-tabContent">
                        <!-- Вкладка акуальные категории -->
                        <div class="tab-pane fade show active" id="nav-actual-categories" role="tabpanel"
                             aria-labelledby="nav-actual-categories-tab">
                            <!-- Акордеон актуальных категорий -->
                            <div class="accordion" id="accordionCategories">
                                <div class="card">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#addNewCategoryModal">
                                        Добавить новую категорию
                                    </button>
                                </div>
                            </div>
                            <!-- Конец акордеона актуальных категорий -->
                        </div>
                        <!-- Конец вкладки акуальные категории -->
                        <!-- Вкладка архивные категории -->
                        <div class="tab-pane fade" id="nav-archive-categories" role="tabpanel"
                             aria-labelledby="nav-archive-categories-tab">
                            <div class="accordion" id="accordionCategoriesArchive"></div>
                        </div>
                        <!-- Конец вкладки архивные категории -->
                    </div>
                    <!-- Конец области контроля навигация для категорий и тем-->

                    <!-- Модальное окно для добавления категории -->
                    <div class="modal fade" id="addNewCategoryModal" tabindex="-1" role="dialog"
                         aria-labelledby="addNewCategoryModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addNewCategoryModalLabel">Введите название
                                        категории</h5>
                                </div>
                                <div class="modal-body">
                                    <form id="addCategoryForm">
                                        <div class="form-group">
                                            <label for="addNewCategory"></label>
                                            <input type="text" class="form-control" name="category" id="addNewCategory">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                                        Закрыть
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" id="addCategoryButton">
                                        Добавить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Конец модального окна для добавления категории -->
                    <!-- Модальное окно для изменения категории -->
                    <div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog"
                         aria-labelledby="editCategoryModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editCategoryModalLabel">Введите новое
                                        назавание категории</h5>
                                </div>
                                <div class="modal-body">
                                    <form id="editCategoryForm">
                                        <div class="form-group">
                                            <label for="editCategoryId"></label>
                                            <input type="number" class="form-control" name="id"
                                                   id="editCategoryId" readonly hidden>
                                            <label for="editCategoryName"></label>
                                            <input type="text" class="form-control" name="categoryName"
                                                   id="editCategoryName">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                                        Закрыть
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" id="editCategoryButton">
                                        Изменить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Конец модального окна для изменения категории -->
                    <!-- Модальное окно для добавления темы -->
                    <div class="modal fade" id="addNewTopicModal" tabindex="-1" role="dialog"
                         aria-labelledby="addNewTopicModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addNewTopicModalLabel">Введите название темы</h5>
                                </div>
                                <div class="modal-body">
                                    <form id="addTopicForm">
                                        <div class="form-group">
                                            <label for="addNewTopic"
                                                   class="font-weight-normal"></label>
                                            <input type="text" class="form-control" name="topic"
                                                   id="addNewTopic">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                                        Закрыть
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" id="addTopicButton">
                                        Добавить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Конец модального окна для добавления темы -->
                    <!-- Модальное окно для редактирования темы -->
                    <div class="modal fade" id="editTopicModal" tabindex="-1" role="dialog"
                         aria-labelledby="editTopicModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editTopicModalLabel">Введите новое
                                        назавание темы</h5>
                                </div>
                                <div class="modal-body">
                                    <form id="editTopicForm">
                                        <div class="form-group">
                                            <label for="editTopicId"></label>
                                            <input type="number" class="form-control" name="id"
                                                   id="editTopicId" readonly hidden>
                                            <label for="editTopicName"></label>
                                            <input type="text" class="form-control" name="topicName"
                                                   id="editTopicName">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                                        Закрыть
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" id="editTopicButton">
                                        Изменить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Конец модального окна для редактирования темы -->
                </div>
                <!--  Конец раздела для редактирования категорий и тем -->
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
<script src="/static/js/summernote.js"></script>
<script src="/static/js/summernote_lang/summernote-ru-RU.js"></script>
<link href="/static/css/summernote.css" rel="stylesheet">
<script src="/static/js/managerSettingsPage.js"></script>
<script src="/static/js/managerPriceChangeSetting.js"></script>
<script src="/static/js/managerPriceListCreate.js"></script>
<script src="/static/js/managerCategoriesSetting.js"></script>
</body>
</html>
