<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/static/js/jquery/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link href="/static/css/headers.css" rel="stylesheet" type="text/css">
    <title>Moderator panel</title>

</head>
<body style="background-color: whitesmoke">

<header th:insert="blocks/header :: header"></header>

<main>

    <div class="container-fluid">
        <div style="height: 100vh" class="row">

            <!--навигация слева-->
            <div class="col-md-2">
                <ul class="nav nav-pills flex-column">

                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#main">Главная</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#profile">Профиль</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#comments">Комментарии для проверки</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_SUPERMODERATOR')" class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#statistic">Статистика</a>
                    </li>

                </ul>
            </div>
            <!--навигация слева-->

            <!--наполнение справа-->
            <div class="col-md-10 bg-light">

                <div class="tab-content">
                    <!--                    <p data-th-bgcolor="grey" id="number"></p>-->
                    <!--Главная-->
                    <div class="tab-pane fade show active" id="main" role="tabpanel">
                        <h4 id="number"></h4>
                    </div>
                    <!--Главная-->

                    <!--Профиль-->
                    <div class="tab-pane fade" id="profile" role="tabpanel">
                        <div form>
                            <div class="container-fluid bg-light">
                                <div class="row p-3">
                                    <div class="col-4">

                                        <div class="imgContainer">
                                            <div>
                                                <img id="profilePic" alt="UserPhoto"
                                                     class="rounded-circle img-responsive mt-2"
                                                     height="152"
                                                     th:src="@{/uploads/images/{name}(name = ${user.getProfilePicture()})}"
                                                     width="152"></div>
                                            <div class="imgButton">
                                                <button type="button" class="btn btn-link" data-toggle="modal"
                                                        data-target="#myModal"> Edit Profile Picture
                                                </button>
                                            </div>
                                            <!--Profile picture change modal-->
                                            <div class="modal" id="myModal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Upload your profile picture</h4>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                &times;
                                                            </button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            <input type="file" id="fileInput" name="imageFile"
                                                                   alt="Picture">
                                                            <br>
                                                            <br>
                                                            <input type="button" id="deletePicBtn"
                                                                   value="Delete Picture"
                                                                   data-dismiss="modal"
                                                                   class="btn btn-sm btn-outline-danger"/>
                                                            <img id="blah" src="#" alt="your image"
                                                                 class="rounded-circle img-responsive mt-2 float-right"
                                                                 height="82" width="82"/>
                                                        </div>
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal">Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Profile picture change modal-->
                                        </div>

                                        <form th:action="@{/moderator/profile}" th:object="${user}"
                                              th:value="${user.id}"
                                              method="post" data-role="personal-info-form">
                                            <div class="form-group text-center font-weight-bold" hidden>
                                                <label class="input-row_label" for="id_update">ID</label>
                                                <input th:field="*{id}" type="text" class="form-control" id="id_update"
                                                       name="id">
                                            </div>
                                            <div class="form-group text-center font-weight-bold" hidden>
                                                <label class="input-row_label" for="password_update">Пароль</label>
                                                <input th:field="*{password}" type="text" class="form-control"
                                                       id="password_update" name="password">
                                            </div>
                                            <div class="form-group text-center font-weight-bold">
                                                <label class="input-row_label" for="first_name_update">Имя</label>
                                                <input th:field="*{firstName}" type="text" class="form-control"
                                                       id="first_name_update" name="firstName">
                                            </div>
                                            <div class="form-group text-center font-weight-bold">
                                                <label for="last_name_input">Фамилия</label>
                                                <input th:field="*{lastName}" type="text" class="form-control"
                                                       id="last_name_input" name="lastName">
                                            </div>
                                            <div class="form-group text-center font-weight-bold">
                                                <label for="email_input">Email</label>
                                                <input th:field="*{email}" type="text" class="form-control"
                                                       id="email_input"
                                                       name="email" readonly>
                                            </div>
                                            <div>
                                                <button type="button" style="background-color: #ff8e05"
                                                        class="m-2 btn btn-success d-block mx-auto" data-toggle="modal"
                                                        data-target="#openNewMailModal">Изменить email
                                                </button>

                                                <button type="button" style="background-color: #ff8e05"
                                                        class="m-2 btn btn-success d-block mx-auto" data-toggle="modal"
                                                        data-target="#openChangePassModal">Изменить пароль
                                                </button>
                                            </div>

                                            <!--день рождения-->
                                            <div class="form-group text-center font-weight-bold">
                                                <label for="date_birthday_input" class="col-xs-2 col-form-label">День
                                                    рождения</label>
                                                <div class="col-xs-10">
                                                    <input th:field="*{birthdayDate}" class="form-control"
                                                           th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                                           type="date" id="date_birthday_input" name="birthdayDate">
                                                </div>
                                            </div>
                                            <!--день рождения-->

                                            <!--пол-->
                                            <div class="form-group-text-center">
                                                <label for="gender_radio"
                                                       class="text-center font-weight-bold">Пол</label>
                                                <div id="gender_radio">
                                                    <div class="custom-control custom-radio">
                                                        <input th:field="*{userGender}" value="" type="radio"
                                                               id="option1"
                                                               name="genderRadio" class="custom-control-input">
                                                        <label class="custom-control-label" for="option1">Не
                                                            выбрано</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input th:field="*{userGender}" value="MAN" type="radio"
                                                               id="option2" name="genderRadio"
                                                               class="custom-control-input">
                                                        <label class="custom-control-label"
                                                               for="option2">Мужской</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input th:field="*{userGender}" value="WOMAN" type="radio"
                                                               id="option3" name="genderRadio"
                                                               class="custom-control-input">
                                                        <label class="custom-control-label"
                                                               for="option3">Женский</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--пол-->

                                            <!-- YELLOW SAVE BUTTON -->
                                            <button type="submit" style="background-color: #ff8e05"
                                                    class="m-2 btn btn-success d-block mx-auto">Сохранить
                                            </button><!--SAVE BUTTON -->

                                            <!--ДАТА РЕГИТСРАЦИИ -->
                                            <div class="m-2 text-center personal-info_register-container"
                                                 style="background-color: #f9f9f9">
                                                Дата регистрации:
                                                <a th:field="*{registerDate}" th:text="*{registerDate}"
                                                   class="personal-info_register-date font-weight-bold"
                                                   id="register_date"></a>
                                            </div>
                                            <!--ДАТА РЕГИТСРАЦИИ -->
                                        </form>

                                        <!-- change mail modal -->
                                        <div id="openNewMailModal" class="modal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">Изменяем электронную почту:</h3>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">x</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="formChangeMail"
                                                              method="post" class="form-group">
                                                            <div class="text-center font-weight-bold">
                                                                <label for="new_mail">Введите новый адрес электронной
                                                                    почты</label>
                                                                <input type="email"
                                                                       id="new_mail"
                                                                       name="newMail"
                                                                       class="form-control" required/>
                                                            </div>

                                                            <div class="messages-after-submit"></div>

                                                            <button type="submit" id="buttonChangeMail"
                                                                    class="btn btn-primary btn-sm btn-block">
                                                                Подтвердить
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- change mail modal -->

                                        <!-- change PASS modal -->
                                        <div id="openChangePassModal" class="modal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">Название</h3>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">x</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="formChangePass"

                                                              method="post"
                                                              class="form-group">
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label for="old_password">Текущий пароль от личного
                                                                    кабинета</label>
                                                                <input type="password" id="old_password"
                                                                       name="oldPassword"
                                                                       autofocus="autofocus"
                                                                       class="form-control" required>
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label for="new_password">Придумайте новый
                                                                    пароль</label>
                                                                <input type="password" id="new_password"
                                                                       name="newPassword"
                                                                       class="form-control" required/>
                                                                <small id="passwordHelpBlock"
                                                                       class="form-text text-muted">
                                                                    Ваш пароль должен состоять из 8-20 символов,
                                                                    содержать
                                                                    буквы и цифры и не должны содержать пробелов и
                                                                    смайлики.
                                                                </small>
                                                            </div>
                                                            <button id="submitNewPassword" type="submit"
                                                                    class="btn btn-primary btn-sm btn-block">
                                                                Сохранить
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- change PASS modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Профиль-->

                    <!--Комментарии для проверки-->
                    <div class="tab-pane fade" id="comments" role="tabpanel">
                            <h5>Комментарии требующие проверки</h5>
                                <div class="tab-content">

                                    <!--                main tab -->
                                    <table class="table table-active table-striped" id="comments-table"
                                           style="background-color: white">

                                    </table>
                                </div>
                    </div>

                    <!--Комментарии для проверки-->

                    <!--Таблица со статистикой-->
                    <div class="tab-pane fade" id="statistic" role="tabpanel">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Имя</th>
                                <th scope="col">Email</th>
                                <th scope="col">Одобренные жалобы</th>
                                <th scope="col">Отклоненные жалобы</th>
                                <th scope="col">Общее количество</th>
                                <th scope="col">Последняя активность</th>
                            </tr>
                            </thead>
                            <tbody id="listStatistic"></tbody>
                        </table>
                    </div>
                    <!--Таблица со статистикой-->
                </div>
            </div>
            <!--наполнение справа-->
        </div>
    </div>

</main>

<!--bootstrap scripts-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<!--для лупы  поиска :)-->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->

<!--main script-->
<script src="/static/js/moderator-profile-page-function.js"></script>
<script src="/static/js/profile-picture.js"></script>
<script src="/static/js/websocket/sockjs-0.3.4.js"></script>
<script src="/static/js/websocket/stomp.js"></script>
<script src="/static/js/moderator-comments.js"></script>
<script src="/static/js/search-button.js"></script>
</body>
</html>