<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Moderator Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="/static/js/jquery/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link href="/static/css/headers.css" rel="stylesheet" type="text/css">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="blocks/cabinet-header :: header"></header>
<div class="wrapper flex-grow-1 row">
    <div class="col-md-2">
        <div class="nav flex-column nav-pills mt-2" role="tablist"  aria-orientation="vertical">
            <a class="btn btn-outline-primary" href="/moderator">Главная</a>
        </div>
        <div class="nav flex-column nav-pills mt-2" role="tablist"  aria-orientation="vertical">
            <a class="btn btn-outline-primary" href="/moderator/profile">Профиль</a>
        </div>
        <div class="nav flex-column nav-pills mt-2" role="tablist" aria-orientation="vertical">
            <a class="btn btn-outline-primary"  href="/moderator/comments">Комментарии для проверки</a>
        </div>
        <div sec:authorize="hasRole('ROLE_SUPERMODERATOR')" class="nav flex-column nav-pills mt-2" role="tablist" aria-orientation="vertical">
            <a class="btn btn-outline-primary"  href="/moderator/statistic">Статистика</a>
        </div>
    </div>
    <div class="container col-10">
        <div class="card" >
            <h5 class="card-header">Комментарии требующие проверки</h5>
            <div id="alert-div"></div>
            <div class="card-body">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <!--                main tab -->

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Одобренные жалобы</th>
                                    <th scope="col">Отклоненные жалобы</th>
                                    <th scope="col">Общее количество</th>
                                    <th scope="col">Последняя активность</th>
                                </tr>
                                </thead>
                                <tbody id="listStatistic">


                                </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/websocket/sockjs-0.3.4.js"></script>
<script src="/static/js/websocket/stomp.js"></script>
<script src="/static/js/moderator-comments.js"></script>
<script src="../static/js/search-button.js"></script>
</body>
</html>
