<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/static/css/headers.css" rel="stylesheet" type="text/css">
    <link href="/static/css/footer.css" rel="stylesheet" type="text/css">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="blocks/header :: header"></header>
<div th:insert="blocks/registration :: registration"></div>

<div class="wrapper flex-grow-1 container-fluid">
    <div class="row content">
        <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
            <a class="btn btn-link" href="/"><---на главную</a>
        </div>
        <div class="col-sm-8 text-left">
            <h1 class="text-center">Новости</h1>
            <div th:each="news : ${news}" class="alert alert-info mt-2">
                <h3 th:text="${news.title}"></h3>
                <p th:text="${news.anons}"></p>
                <a th:href="'news/' + ${news.id}" class="btn btn-warning">Детальнее</a>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/search-button.js"></script>
<script src="../static/js/registration.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<footer th:replace="blocks/footer :: footer"></footer>
</body>
</html>