<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Подключаем библиотеку summernote bs-4 -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #7373ee">
        <div class="navbar-brand">Перейти на <span><b><a style="color: coral" href="/">главную</a></b></span></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
        <div class="navbar-text"><a th:href="@{/logout}">Logout</a></div>
    </nav>
</header>
<div class="container-fluid" style="padding-right: 0px; padding-left: 0px">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/manager">Кабинет менеджера</a></li>
            <li class="breadcrumb-item active" aria-current="page">Все новости</li>
        </ol>
    </nav>
    <div class="row content">
        <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
            <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                <button class="btn btn-outline-primary"
                    data-toggle="modal" data-target="#addNewsModal">Добавить новость
                </button>
            </div>
        </div>
        <div class="col-sm-8 tab-pane">
            <br>
            <h1 class="text-center">Управление новостями</h1>
            <ul class="nav nav-tabs">
                <!-- Первая вкладка (активная) -->
                <li class="nav-item">
                    <a class="nav-link active" id="nav-link_allNews" data-toggle="tab" href="#tab_all_news">Все</a>
                </li>
                <!-- Вторая вкладка -->
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab_published_news">Опубликованные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab_unpublished_news">Не опубликованные</a>
                </li>
            </ul>
            <!-- Блоки с контентом -->
            <div class="tab-content mb-5">
                <!-- Первый блок (он отображается по умолчанию, т.к. имеет классы show и active) -->
                <div class="tab-pane fade show active" id="tab_all_news">
<!--                    <div id="allNews">-->
<!--                    </div>-->
                    <ul class="allNews" id="allNewsUl">
<!--                        Здесь рендерится таблицы новостей-->
                    </ul>
                </div>
                <!-- Второй блок -->
                <div class="tab-pane fade" id="tab_published_news">
                    <div id="publishedNews">
                    </div>
                </div>
                <!-- Третий блок -->
                <div class="tab-pane fade" id="tab_unpublished_news">
                    <div id="unpublishedNews">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------- New News add Modal  ------------------->
<div class="modal fade" id="addNewsModal" data-backdrop="static"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="addNewsModalLabel">Добавление новости</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid col-sm-12">
                    <form id="addNewsFormModal" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label for="addNewsTitle">Заголовок</label>
                            <input type="text" id="addNewsTitle" name="title" placeholder="Введите название" class="form-control" required>
                            <br>
                            <label for="addNewsAnons">Анонс</label>
                            <input type="text" id="addNewsAnons" name="anons" placeholder="Введите краткое описание" class="form-control" required>
                            <br>
                            <label for="addNewsFullText">Полный текст</label>
                            <textarea id="addNewsFullText" name="fullText" placeholder="Введите полный текст" class="form-control" required></textarea>
                            <br>
                            <label for="addNewsPostingDate" class="col-xs-2 col-form-label">Выберите дату публикации</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="datetime-local" id="addNewsPostingDate" name="postingDate">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer actions">

                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Закрыть
                </button>

                <button id="save" type="submit" onclick="addNews()" data-dismiss="modal"
                        class="btn btn-primary">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
<!---------------------- End of New News Modal ------------------->

<!---------------------- News Edit Modal  ------------------->
<div class="modal fade" id="editNewsModal" data-backdrop="static" tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактировать новость</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="editNewsFormModal">
                <div class="modal-body">
                    <div class="container-fluid col-sm-12">
                        <form enctype="multipart/form-data" id="editModalNews" method="post">
                            <div class="form-group">
                                <label for="idNewsUpdate"
                                       class="col-form-label col-sm-12 text-center">Id</label>
                                <div class="text-center">
                                    <input type="text"
                                           class="form-control"
                                           id="idNewsUpdate" readonly>
                                </div>
                                <label for="titleNewsUpdate">Заголовок</label>
                                <input type="text" id="titleNewsUpdate" name="title" placeholder="Введите название" class="form-control" required>
                                <br>
                                <label for="anonsNewsUpdate">Анонс</label>
                                <input type="text" id="anonsNewsUpdate" name="anons" placeholder="Введите краткое описание" class="form-control" required>
                                <br>
                                <label for="fullTextUpdate">Полный текст</label>
                                <textarea id="fullTextUpdate" name="fullText" placeholder="Введите полный текст" class="form-control" required></textarea>
                                <br>
                                <label for="postingDateUpdate" class="col-xs-2 col-form-label">Выберите дату публикации</label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="datetime-local" id="postingDateUpdate" name="postingDate">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
            <div class="modal-footer actions2">

                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Закрыть
                </button>

                <button id="editSave" type="submit" data-dismiss="modal" onclick="updateNews()"
                        class="btn btn-primary">
                    Обновить
                </button>
            </div>
        </div>
    </div>
</div>
<!---------------------- End of Edit News Modal ------------------->
<!---------------------- News Delete Modal  ------------------->
<div class="modal fade" id="deleteNewsModal" data-backdrop="static" tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удалить новость</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="deleteNewsFormModal">
                <div class="modal-body">
                    <div class="container-fluid col-sm-12">
                        <form enctype="multipart/form-data" id="deleteModalNews" method="post">
                            <div class="form-group">
                                <div class="text-center">
                                    <input type="text"
                                           class="form-control"
                                           id="idNewsDelete" hidden>
                                    <h3>Вы уверены?</h3>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
            <div class="modal-footer actions2">

                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Закрыть
                </button>

                <button id="deleteSave" type="submit" data-dismiss="modal" onclick="deleteNews()"
                        class="btn btn-primary">
                    Удалить
                </button>
            </div>
        </div>
    </div>
</div>
<!---------------------- End of Delete News Modal ------------------->

<script src="/static/js/moment.js"></script>
<script src="/static/js/news-management.js"></script>
<!--<script src="/static/js/newsPageRenderAndFunctions.js"></script>-->
<script src="/static/js/summernote.js"></script>
<script src="/static/js/summernote_lang/summernote-ru-RU.js"></script>
<script src="/static/js/textRedactor.js"></script>
<link href="/static/css/summernote.css" rel="stylesheet">
</body>
</html>