<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="/blocks/header :: header"></header>
<div class="wrapper flex-grow-1 container-fluid">
    <div class="row content">
        <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
            <a class="btn btn-link" href="/news"><---ко всем новостям</a>
        </div>
        <div class="col-sm-8 text-left">
            <div th:each="news : ${news}" class="alert alert-info mt-2">
                <h3 th:text="${news.title}"></h3>
                <p th:utext="${news.fullText}"></p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/blocks/footer :: footer"></footer>
</body>
</html>