<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
<div class="container-fluid">
    <div class="row content">
        <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
            <a class="btn btn-link" href="/"><---обратно</a>
        </div>
        <div class="col-sm-8 text-left">
            <h1 class="text-center">Новости</h1>
            <div th:each="news : ${news}" class="alert alert-info mt-2">
                <h3 th:text="${news.title}"></h3>
                <p th:text="${news.anons}"></p>
                <a th:href="'news/' + ${news.id}" class="btn btn-warning">Детальнее</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>