<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="profile-container">
        <header class="header">
            <div class="logo-container"></div>
        </header>
        <div class="body"></div>
    </div>
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a href="/customer">Главная</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a href="/customer/profile">Профиль</a>
                </div>
                <div class="nav flex-column nav-pills mt-2 container-fluid" role="tablist" aria-orientation="vertical">
                    <a href="/logout">Выйти</a>
                </div>
            </div>
            <div class="col-md-10"
                 style="background: #edeef0">
                <div id="admin_panel"></div>
                <div class="tab-content" id="nav-tabContent-p">
                    <div class="tab-pane fade show active" id="pills-home-profile" role="tabpanel" aria-labelledby="nav-home-profile">
                        <div form>
                            <div class="container-fluid bg-light">
                                <div class="row p-3">
                                    <div class="col-4">
                                        <form th:action="@{/customer/profile}" th:object="${user}" th:value="${user.id}" method="post" data-role="personal-info-form">
                                            <div class="form-group text-center font-weight-bold">
                                                <a href="/customer/change-password" text="сменить пароль">сменить пароль</a>
                                            </div>
                                            <div class="form-group text-center font-weight-bold" hidden>
                                                <label class="input-row_label" for="id_update">ID</label>
                                                <input th:field="*{id}" type="text" class="form-control" id="id_update" name="id">
                                            </div>
                                            <div class="form-group text-center font-weight-bold" hidden>
                                                <label class="input-row_label" for="password_update">Пароль</label>
                                                <input th:field="*{password}" type="text" class="form-control" id="password_update" name="password">
                                            </div>
                                            <div class="form-group text-center font-weight-bold">
                                                <label class="input-row_label" for="first_name_update">Имя</label>
                                                <input th:field="*{firstName}" type="text" class="form-control" id="first_name_update" name="firstName">
                                            </div>
                                            <div class="form-group text-center font-weight-bold">
                                                <label for="last_name_input">Фамилия</label>
                                                <input th:field="*{lastName}" type="text" class="form-control" id="last_name_input" name="lastName">
                                            </div>
                                            <div class="form-group text-center font-weight-bold">
                                                <label for="email_input">Email</label>
                                                <input th:field="*{email}" type="text" class="form-control" id="email_input" name="email">
                                            </div>
                                            <div class="form-group text-center font-weight-bold">
                                                <label for="date_birthday_input" class="col-xs-2 col-form-label">День рождения</label>
                                                <div class="col-xs-10">
                                                    <input th:field="*{birthdayDate}" class="form-control"
                                                           type="date" id="date_birthday_input" name="birthdayDate">
                                                </div>
                                            </div>
                                            <div class="form-group-text-center">
                                                <label for="gender_radio" class="text-center font-weight-bold">Пол</label>
                                                <div id="gender_radio">
                                                    <div class="custom-control custom-radio">
                                                        <input th:field="*{userGender}" value="" type="radio" id="option1" name="genderRadio" class="custom-control-input">
                                                        <label class="custom-control-label" for="option1">Не выбрано</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input th:field="*{userGender}" value="MAN" type="radio" id="option2" name="genderRadio" class="custom-control-input">
                                                        <label class="custom-control-label" for="option2">Мужской</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input th:field="*{userGender}" value="WOMAN" type="radio" id="option3" name="genderRadio" class="custom-control-input">
                                                        <label class="custom-control-label" for="option3">Женский</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" style="background-color: #ff8e05" class="m-2 btn btn-success d-block mx-auto">Сохранить</button>
                                            <div class="m-2 text-center personal-info_register-container" style="background-color: #f9f9f9">
                                                Дата регистрации:
                                                <a th:field="*{registerDate}" th:text="${#dates.format(user.registerDate, 'yyyy-MM-dd')}" class="personal-info_register-date font-weight-bold" id="register_date"></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>