<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!--    Validator js-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

</head>
<body>
<section id="loginform" class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <h2 class="text-left h4 mb-4">Please sign up</h2>
                    <form th:action="@{/registration}" th:object="${userForm}"
                          method="post" class="form-group" data-toggle="validator" role="form">

                        <div class="form-group text-center font-weight-bold">
                            <label for="email" class="control-label">Email</label>
                            <input th:field="*{email}" type="email" id="email" name="login_username"
                                   autofocus="autofocus" class="form-control" placeholder="Email" required>
                            <p th:text="${emailError}">Validation error</p>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group text-center font-weight-bold">
                            <label for="password" class="control-label">Password</label>
                            <input th:field="*{password}" type="password" id="password" name="login_password"
                                    data-minlength="5"
                                   class="form-control" data-error="Пароль должен быть минимум 5 символов" placeholder="Password" required/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group text-center font-weight-bold">
                            <label>Confirm password</label>
                            <input th:field="*{passwordConfirm}" type="password" id="passwordConfirm"
                                   name="login_password_confirm" placeholder="Confirm password"
                                   class="form-control" required/>
                            <p th:text="${passwordConfirmError}">Validation error</p>
                        </div>
                        <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>