<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service Center</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Подключаем CSS summernote bs-4 -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <!--summernote CSS-->
    <link href="/static/css/summernote.css" rel="stylesheet">
    <!--toastr CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <link href="/static/css/headers.css" rel="stylesheet" type="text/css">
</head>
<body>
<header th:insert="/blocks/cabinetHeader :: header"></header>
<main>

    <!---------------------- Edit RepairOrder Modal window ------------------->
    <div class="modal fade" id="editRepairOrder" data-backdrop="static" tabindex="-1"
         role="dialog" aria-labelledby="editRepairOrderFormModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalWindowTitle">Редактировать заказ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-alert-repairOrder">
                    <!--alert messages-->
                </div>
                <form id="editRepairOrderFormModal">
                    <div class="modal-body">
                        <div class="container-fluid col-sm-12">
                            <form enctype="multipart/form-data" id="editModalRepairOrder" method="post">

                                <div class="form-group">

                                    <div class="text-center" id="idModalDiv">
                                        <label for="idRepairOrderUpdate"
                                               class="col-form-label col-sm-12 text-center">Id</label>
                                        <input type="text" class="form-control" id="idRepairOrderUpdate" readonly>
                                    </div>

                                    <br>
                                    <label for="fullNameClientUpdate">ФИО</label>
                                    <input type="text" id="fullNameClientUpdate" name="fullNameClient"
                                           placeholder="Введите ФИО клиента"
                                           class="form-control" required>

                                    <br>
                                    <label for="telephoneNumberUpdate">Телефон</label>
                                    <input value="" type="tel" id="telephoneNumberUpdate" name="telephoneNumberUpdate"
                                           placeholder="Введите телефон клиента в формате: (000) 000 00 00"
                                           class="form-control" required>
                                    <br>

                                    <label for="nameDeviceUpdate">Устройство</label>
                                    <input type="text" id="nameDeviceUpdate" name="nameDeviceUpdate"
                                           placeholder="Укажите устройства" class="form-control" required>

                                    <br>
                                    <div class="form-check" id="guaranteeCheckboxUpdateDiv">
                                        <input class="form-check-input" type="checkbox" id="guaranteeCheckboxUpdate">
                                        <label class="form-check-label" for="guaranteeCheckboxUpdate">
                                            Устройство на гарантии?
                                        </label>
                                    </div>
                                    <br>

                                    <div class="form-group" id="statusRepairOrder">
                                        <label for="statusRepairOrderSelect">
                                            Статус заказа:
                                        </label>
                                        <select class="form-control" id="statusRepairOrderSelect">
                                            <option value="ALL">ALL</option>
                                            <option value="ACCEPTED">ACCEPTED</option>
                                            <option value="DIAGNOSTICS">DIAGNOSTICS</option>
                                            <option value="IN_WORK">IN_WORK</option>
                                            <option value="COMPLETE">COMPLETE</option>
                                            <option value="ARCHIVED">ARCHIVED</option>
                                            <option value="CANCELED">CANCELED</option>
                                        </select>
                                    </div>

                                    <br>
                                    <div class="form-group">
                                        <label for="fullTextProblemUpdate">Описание проблемы</label>
                                        <textarea id="fullTextProblemUpdate" name="fullTextUpdate"
                                                  placeholder="Введите описание проблемы"
                                                  class="form-control" required></textarea>
                                    </div>
                                    <br>

                                    <hr>
                                    <div class="col-xs-10" id="datePublishInputDivUpdate">
                                        <label for="postingDateUpdate">Дата приема заказа:</label>
                                        <input class="form-control" type="date" id="postingDateUpdate"
                                               style="width: 25%" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
                <div id="modalFooterEditSave" class="modal-footer actions">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle-id="close">
                        Закрыть
                    </button>
                    <button id="editSave" data-toggle-id="save" class="btn btn-primary">
                        Обновить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!---------------------- End Edit RepairOrder Modal window ------------------->

    <div class="container-fluid">
        <div class="row">

            <!--навигация слева-->
            <div class="col-md-2">
                <ul class="nav nav-pills flex-column" id="upperNavTabRepairOrder">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Profile">
                            Профиль
                        </a>
                    </li>

                    <li class="nav-item">
                        <a id="getRepairOrdersNav" class="nav-link" data-toggle="tab" href="#repairOrders">
                            Заказы на ремонт
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#addRepairOrder">
                            Сформировать заказ на ремонт
                        </a>
                    </li>
                </ul>
            </div>
            <!--конец навигации слева-->

            <!--наполнение справа-->
            <div class="col-md-10 bg-light">
                <div class="tab-content">

                    <!--профиль-->
                    <div class="tab-pane fade show active" id="Profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div th:insert="/blocks/profile :: profile"></div>
                    </div>
                    <!--конец профиля-->

                    <!--заявки на ремонт-->
                    <div class="tab-pane" id="repairOrders" role="tabpanel">
                        <div class="col-md-10">
                            <ul class="nav nav-tabs" id="navbarRepairOrders">
                                <!-- Первая вкладка все заказы (активная) -->
                                <li class="nav-item">
                                    <a class="nav-link active" id="nav-link_RepairOrders" data-toggle="tab"
                                       data-toggle-id="allRepairOrders"
                                       href="#tab_all_repairOrders">Все</a>
                                </li>
                                <!-- Вторая вкладка принятые заказы -->
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-link_acceptedRepairOrders" data-toggle="tab"
                                       data-toggle-id="acceptedRepairOrders"
                                       href="#tab_accepted_repairOrders">Принятые</a>
                                </li>
                                <!-- Третья вкладка на диагностике-->
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-link_diagnostics" data-toggle="tab"
                                       data-toggle-id="diagnosticsRepairOrders"
                                       href="#tab_diagnostics_repairOrders">На диагностике</a>
                                </li>
                                <!-- Четвертая вкладка в ремонте-->
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-link_underRepair" data-toggle="tab"
                                       data-toggle-id="inWorkRepairOrders"
                                       href="#tab_inWorkRepairOrders">В ремонте</a>
                                </li>
                                <!-- Пятая вкладка на выдаче-->
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-link_onIssue" data-toggle="tab"
                                       data-toggle-id="completeRepairOrders"
                                       href="#tab_completeRepairOrders">На выдаче</a>
                                </li>
                                <!-- Шестая вкладка закрытые заявки-->
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-link_closedRepairOrders" data-toggle="tab"
                                       data-toggle-id="closedRepairOrders"
                                       href="#tab_closedRepairOrders">Закрытые заявки</a>
                                </li>
                                <!-- Седьмая вкладка закрытые заявки-->
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-link_canceledRepairOrders" data-toggle="tab"
                                       data-toggle-id="canceledRepairOrders"
                                       href="#tab_canceledRepairOrders">Отмененные заявки</a>
                                </li>
                            </ul>

                            <!-- Блоки с контентом -->
                            <div class="tab-content mb-5 col-md-8" id="repairOrdersTabContent">
                                <!-- Первый блок (он отображается по умолчанию, т.к. имеет классы show и active) -->
                                <div class="tab-pane fade show active" id="tab_all_repairOrders">
                                    <div class="form-check" id="includeCanceledDiv">
                                        <input class="form-check-input" type="checkbox" id="includeCanceled" name="includeCanceled">
                                        <label class="form-check-label" for="includeCanceled">
                                            отоброжать отмененные
                                        </label>
                                    </div>
                                    <div id="all_repairOrders">
                                    </div>
                                </div>
                                <!-- Второй блок -->
                                <div class="tab-pane fade" id="tab_accepted_repairOrders">
                                    <div id="accepted_repairOrders">
                                    </div>
                                </div>
                                <!-- Третий блок -->
                                <div class="tab-pane fade" id="tab_diagnostics_repairOrders">
                                    <div id="diagnostics_repairOrders">
                                    </div>
                                </div>
                                <!-- Четвертый блок -->
                                <div class="tab-pane fade" id="tab_inWorkRepairOrders">
                                    <div id="inWorkRepairOrders">
                                    </div>
                                </div>
                                <!--Пятый блок-->
                                <div class="tab-pane fade" id="tab_completeRepairOrders">
                                    <div id="completeRepairOrders">
                                    </div>
                                </div>
                                <!--Шестой блок-->
                                <div class="tab-pane fade" id="tab_closedRepairOrders">
                                    <div id="closedRepairOrders">
                                    </div>
                                </div>
                                <!--Седьмой блок-->
                                <div class="tab-pane fade" id="tab_canceledRepairOrders">
                                    <div id="canceledRepairOrders">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--конец заявкам на ремонт-->

                    <!--оформление заявки на ремонт-->
                    <div class="tab-pane" id="addRepairOrder" role="tabpanel">

                        <div class="card">
                            <div class="card-header">
                                Оформление заявки на ремонт
                            </div>
                            <div class="card-body text-center">
                                <div class="form justify-content-center mx-auto col-md-5">
                                    <div id="modal-alert-addRepairOrder">
                                        <!--alert messages-->
                                    </div>
                                    <form id="addFormRepairOrder">
                                        <div class="form-group">
                                            <label for="fullNameClient">ФИО</label>
                                            <div>
                                                <input type="text" class="form-control" id="fullNameClient"
                                                       placeholder="Введите полное имя клиента" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="telephoneNumber">Телефон</label>
                                            <div>
                                                <input value="" type="tel" class="form-control" id="telephoneNumber"
                                                       placeholder="Введите телефон клиента в формате: (000) 000 00 00"
                                                       required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="nameDevice">Укажите устройство</label>
                                            <div>
                                                <input type="text" class="form-control" id="nameDevice"
                                                       placeholder="Введите наименование устройства" required>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-check" id="guaranteeCheckboxDiv">
                                            <input class="form-check-input" type="checkbox" id="guaranteeCheckbox">
                                            <label class="form-check-label" for="guaranteeCheckbox">
                                                Устройство на гарантии?
                                            </label>
                                        </div>
                                        <hr>
                                        <br>
                                        <div class="form-group">
                                            <label for="fullTextProblem">Описание проблемы</label>
                                            <textarea class="form-control" id="fullTextProblem" name="fullText"
                                                      placeholder="Введите полный текст" required></textarea>
                                        </div>
                                        <br>

                                    </form>
                                    <div>
                                        <button id="buttonAddRepairOrder" class="btn btn-success">Добавить
                                            заявку на ремонт
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--конец оформления заявки на ремонт-->

                </div>
            </div>
            <!--конец наполнения справа-->

        </div>
    </div>

</main>

<!--bootstrap scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<!--moment-->
<script src="/static/js/moment.js"></script>
<!-- Подключаем библиотеку summernote bs-4 -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<!--summernote-->
<script src="/static/js/summernote.js"></script>
<script src="/static/js/summernote_lang/summernote-ru-RU.js"></script>
<script src="/static/js/textRedactor.js"></script>
<!--toastr-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<!--main script-->
<script src="../static/js/searchButton.js"></script>
<script src="/static/js/repairOrder.js"></script>
<script src="/static/js/profilePicture.js"></script>
<script src="/static/js/profileAdminManagerService.js"></script>

<!-- jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="/static/js/telephoneNumberMask.js"></script>
</body>
</html>