<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check Status</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--toastr CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column min-vh-100">

<div class="modal fade" id="checkStatusRepairOrderModal" tabindex="-1" role="dialog"
     aria-labelledby="checkStatusRepairOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkStatusRepairOrderLabel">Состояние вашего заказа.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body_checkStatusRepairOrder">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<header th:insert="/blocks/cabinetHeader :: header"></header>

<main class="wrapper flex-grow-1 container">
    <div class="card" style="height: 60rem">
        <h5 class="card-header">Проверка статуса ремонта</h5>
        <div class="card-body">
            <p class="card-text">Вы можете самостоятельно отслеживать статус ремонта своего оборудования.
                Для получения информации о текущем состоянии ремонта, Вам необходимо ввести номер телефона,
                который Вы оставили в сервисном центре для связи и номер заказ-наряда</p>
            <p class="card-text">После присвоения ремонту статуса «в работе»,
                вы можете внести предоплату за ремонт.</p>

            <form>
                <div class="form-row">
                    <div class="col">
                        <input class="form-control" type="text" name="orderNumberCheck" id="orderNumberCheck"
                               placeholder="Заказ-наряд" required>
                    </div>
                    <div class="col">
                        <input class="form-control" value="" type="tel" name="telCheck" id="telCheck"
                               placeholder="Введите телефон в формате: (000) 000 00 00" required>
                    </div>
                </div>
            </form>

            <div style="margin-top: 20px">
                <button id="checkStatusRepairOrder" class="btn btn-warning" data-toggle="modal"
                        data-target="#checkStatusRepairOrderModal">Найти
                </button>
            </div>
        </div>
    </div>
</main>

<footer th:replace="/blocks/footer :: footer"></footer>

<!--bootstrap scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<!--toastr-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script src="/static/js/serviceCheckStatus.js"></script>
<!-- jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="/static/js/telephoneNumberMask.js"></script>

</body>
</html>