<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Акции</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta property="og:url" content="http://localhost:9999/customer/stockDetails"/>
    <meta property="og:type" content="Online Store"/>
    <meta property="og:title" content="JM Online Store"/>
    <meta property="og:description" content="The best online store!"/>
    <!--    <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />-->
    <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
</head>
<body>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '933203153853320',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v8.0'
        });
    };
</script>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        let js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<header th:insert="/blocks/header :: header"></header>
<div class="container-fluid">
    <div class="row content justify-content-center">
        <div class="col-sm-8 text-left">
            <div class="alert alert-info mt-2">
                <h3 id="stockHeader"></h3>
                <p id="stockBody"></p>
                <button class="btn-sm btn-primary btn-sm" id="fbShareButton">Share on Facebook</button>
                <div id="vk_share_button">

                </div>
                <div class="btn-group btn-group-sm" role="group" aria-label="...">

                </div>
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group" id="shareButtons">
                        <button type="button" class="btn btn-secondary">Share on Facebook</button>
                        <button type="button" class="btn btn-secondary">2</button>
                        <button type="button" class="btn btn-secondary">3</button>
                        <button type="button" class="btn btn-secondary">4</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="/static/js/stockDetailsPageRender.js"></script>
</body>
</html>