<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Акции</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta property="og:type" content="Online Store"/>
    <meta property="og:title" content="JM Online Store"/>
    <meta property="og:description" content="The best online store!"/>
    <meta property="og:image" content="https://www.your-domain.com/path/image.jpg"/>
    <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
</head>
<body>
<!--facebook init script-->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '933203153853320',
            autoLogAppEvents: true,
            xfbml: true,categories,
            version: 'v8.0'
        });
    };
</script>
<header th:insert="/blocks/header :: header"></header>
<div class="container-fluid">
    <div class="row content justify-content-center">
        <div class="col-sm-8 text-left">
            <div class="alert alert-info mt-2">
                <h3 id="stockHeader"></h3>
                <p id="stockBody"></p>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Поделиться
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" id="shareFacebookLink" data-socialNetworkName="facebook">Поделиться
                                на Facebook</a>
                            <a class="dropdown-item" id="shareVKLink" data-socialNetworkName="vk">Поделиться на VK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row content">
        <div class="col-md-2" style="padding-right: 0px; padding-left: 0px">
            <a class="btn btn-link" href="/news"><---обратно</a>
        </div>
        <div class="col-sm-8 text-left">
            <div th:each="stock : ${stocks}" class="alert alert-info mt-2">
                <h3 th:text="${stock.title}"></h3>
                <p th:utext="${stock.fullText}"></p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="/static/js/stockDetailsPageRender.js"></script>
</body>
</html>