<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- ----------------------JS - jQuery ------------->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- ----------------------JS - jQuery END ------------->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/stocksStyle.css">

    <title>StocksPage</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark">

        <div class="navbar-brand">Перейти на <b><a href="/">главную</a></b></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
        <div class="navbar-text"><a th:href="@{/logout}">Logout</a></div>
    </nav>
</header>

<div class="main-wrapper">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/manager">Кабинет менеджера</a></li>
            <li class="breadcrumb-item active" aria-current="page">Акции</li>
        </ol>
    </nav>

    <h2 class="text-center "><span class="underline">Акции</span></h2>

    <div id="cont" class="row no-gutters pb-4">
        <div class="col-md-3 pr-3">
            <br>
            <div class="container filters min-height: 100vh pb-4">
                <h4 class="text-center p-1">Фильтры</h4>

                <div>
                    <button type="button" class="btn-primary btn-md active" data-filter="ALL">Все акции</button>
                </div>
                <br>
                <div>
                    <button type="button" class="btn-primary btn-md" data-filter="CURRENT">Текущие акции</button>
                </div>
                <br>
                <div>
                    <button type="button" class="btn-primary btn-md" data-filter="FUTURE">Планируемые акции</button>
                </div>
                <br>
                <div>
                    <button type="button" class="btn-primary btn-md" data-filter="PAST">Завершенные акции</button>
                </div>

            </div>
            <br>
            <div>
                <form>
                    <button type="button" class="btn-primary btn-lg" data-toggle='modal'
                            data-target='#newStockModal'>
                        Новая акция
                    </button>
                </form>
            </div>
        </div>

        <div class="col-md-7">
            <!--START of Stocks-->
            <br>
            <div class="stocksWrapper container-fluid p-3">
                <ul class="allStocks" id="stocksDiv">
                    <!-- Здесь загрузка акций в JS... Совсем пусто :(  -->
                </ul>
            </div>
            <!--End of Stocks-->

            <!---------------------- New Stock add Modal  ------------------->
            <div class="modal fade" id="newStockModal" data-backdrop="static" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="stockAddModalLable">Добавить акцию</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="container-fluid col-sm-12">
                                <form id="stockAddModal" enctype="multipart/form-data" method="post">
                                    <div class="form-group">
                                        <label for="addStockTitle">Заголовок акции:</label>
                                        <input id="addStockTitle" type="text" name="title" placeholder="title">
                                        <br>
                                        <label for="addStockText">Описание акции:</label>
                                        <textarea name="comment" id="addStockText" cols="45" rows="5"></textarea>
                                        <br>
                                        <label for="addStartDate">Дата начала</label>
                                        <input type="date" id="addStartDate" name="start"/>
                                        <br>
                                        <label for="addEndDate">Дата окончания</label>
                                        <input type="date" id="addEndDate" name="end"/>
                                        <br>
                                        <label for="addStockImg">Изображение</label>
                                        <input id="addStockImg" type="file" name="f" accept="image/jpeg">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer actions">

                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">
                                Close
                            </button>

                            <button id="save" type="submit" onclick="addStock()" data-dismiss="modal"
                                    class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------- End of New Stock Modal ------------------->

            <!---------------------- Stock Edit Modal  ------------------->
            <div class="modal fade" id="editStockModal" data-backdrop="static" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Редактировать акцию</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form id="stockEditModal">
                            <div class="modal-body">
                                <div class="container-fluid col-sm-12">
                                    <form enctype="multipart/form-data" method="post">
                                        <div class="form-group">
                                            <label for="Eid"
                                                   class="col-form-label col-sm-12 text-center">Id</label>
                                            <div class="text-center">
                                                <input type="text"
                                                       class="form-control"
                                                       id="Eid"
                                                       readonly>
                                            </div>
                                            <div class="field2">
                                                <label for="editStockTitle">Заголовок акции:</label>
                                                <input id="editStockTitle" type="text" name="title" placeholder="title"
                                                       class="form-control"
                                                       required="required">
                                            </div>
                                            <label for="editStockText">Описание акции:</label>
                                            <textarea name="comment" id="editStockText" cols="45" rows="5"
                                                      class="form-control"
                                                      required="required"></textarea>

                                            <label for="editStartDate">Дата начала</label>
                                            <input type="date" id="editStartDate" name="date"/>
                                            <br>
                                            <label for="editEndDate">Дата окончания</label>
                                            <input type="date" id="editEndDate" name="date"/>

                                            <br>
                                            <label for="editStockImg">Изображение</label>
                                            <input id="editStockImg" type="file" name="g" accept="image/jpeg"
                                                   class="form-control">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer actions2">

                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">
                                Close
                            </button>

                            <button id="editSave" type="submit" data-dismiss="modal" onclick="updateStock()"
                                    class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------- End of Edit Stock Modal ------------------->
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/stocks.js" async></script>
<!--MomentJs (work with dates)-->
<script type="text/JavaScript" src="../static/js/moment.js" async></script>

</body>
</html>
