<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- ----------------------JS - jQuery ------------->

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- ----------------------JS - jQuery END ------------->
    <link rel="stylesheet" type="text/css" href="/styles.css">


    <style>
        body {
            height: 100%;
        }

        .underline {
            border-bottom: 2px solid coral;
        }

        .card-footer {
            background: white;
        }

        #cont {

            width: 100%;
            padding-left: 10%;
            text-align: center
        }

    </style>


    <title>StocksPage</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #7373ee">

        <div class="navbar-brand">Перейти на <b><a href="/" style="color: coral">главную</a></b></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
        <div class="navbar-text"><a th:href="@{/logout}">Logout</a></div>
    </nav>
</header>
<div style="background-color: #ececec">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Товары</a></li>
            <li class="breadcrumb-item active" aria-current="page">Акции</li>
        </ol>
    </nav>
    <h2 class="text-center "><span class="underline">Акции</span></h2>


    <div id="cont" class="row no-gutters pb-4" style="background-color: #ececec">

        <div class="col-md-3 pr-3">

            <br>
            <div class="container min-height: 100vh" style="background-color: #ffffff; border-radius: 10px;">
                <h4 class="text-center p-1">Фильтры</h4>
                <label class="ui-checkbox ui-checkbox_list"><span>Текущие акции <span
                        class="text-muted">(160)</span></span><input type="checkbox"
                                                                     class="ui-checkbox__input ui-checkbox__input_list"
                                                                     value="ALL_ACTIONS"><span
                        class="ui-checkbox__box ui-checkbox__box_list"></span></label>

                <label class="ui-checkbox ui-checkbox_list"><span>Планируемые акции <span class="text-muted">(77)</span></span><input
                        type="checkbox" class="ui-checkbox__input ui-checkbox__input_list" value="30"><span
                        class="ui-checkbox__box ui-checkbox__box_list"></span></label>

                <label class="ui-checkbox ui-checkbox_list"><span>Завершенные акции <span class="text-muted">(77)</span></span><input
                        type="checkbox" class="ui-checkbox__input ui-checkbox__input_list" value="30"><span
                        class="ui-checkbox__box ui-checkbox__box_list"></span></label>
            </div>
            <br>
            <div>
                <form>
                    <button type="button" class="btn-primary btn-lg" data-toggle='modal' data-target='#newStockModal'>
                        Новая акция
                    </button>
                </form>
            </div>

        </div>
        <div class="col-md-7">


            <!--START of Stocks-->
            <br>
            <div class="container-fluid p-3" style="background-color: #ffffff; border-radius: 10px;">

                <th:block th:each="stocks : ${stocks}">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img th:attr="src=@{'/img/stocks/' + ${stocks.stock_img}}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-6">

                                <h3 class="card-title mt-2" th:text="${stocks.stock_title}"></h3>
                                <p class="card-text" th:text="${stocks.stock_text}"></p>
                                <p class="card-text" th:text="${'Начало акции: ' + stocks.startDate}"></p>
<!--                                <p class="card-text" th:text="${'Окончание акции: ' + stocks.startDate}"></p>-->

                            </div>
                            <div class="col-md-2">
                                <button th:attr="id=${stocks.id}" onclick="getStockForEdit(id)"
                                        class="btn btn-md btn-info mt-5 mr-2" data-toggle='modal'
                                        data-target='#editStockModal'>
                                    Edit
                                </button>


                                <a th:href="@{delete(id=${stocks.id})}" class="warning btn btn-md btn-danger mt-2 mr-2"
                                   role="button">Delete
                                </a>


                            </div>
                        </div>
                    </div>
                </th:block>

            </div>
        </div>


        <!---------------------- New Stock add Modal  ------------------->
        <div class="modal fade" id="newStockModal" data-backdrop="static" tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">


            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="stockAddModalLable">Добавить акцию</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    <div class="modal-body">

                        <div class="container-fluid col-sm-12">
                            <form enctype="multipart/form-data" method="post">
                                <form id="stockAddModal">
                                    <div class="form-group">
                                        <label for="addStockTitle">Заголовок акции:</label>
                                        <input id="addStockTitle" type="text" name="title" placeholder="title"
                                               required="required">

                                        <label for="addStockText">Описание акции:</label>
                                        <textarea name="comment" id="addStockText" cols="45" rows="5"
                                                  required="required"></textarea>

                                        <label for="date">Дата начала</label>
                                        <input type="date" id="date" name="date"/>
                                        <br>
                                        <label for="date">Дата окончания</label>
                                        <input type="date" id="date" name="date"/>

                                        <label for="addStockImg">Изображение</label>
                                        <input id="addStockImg" type="file" name="f" accept="image/jpeg">
                                    </div>
                                </form>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>

                        <button type="submit" onclick="addStock()" data-dismiss="modal" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------- End of New Stock Modal ------------------->

        <!---------------------- New Stock Edit Modal  ------------------->
        <div class="modal fade" id="editStockModal" data-backdrop="static" tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">


            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Редактировать акцию</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form id="stockEditModal">
                        <div class="modal-body">
                            <div class="container-fluid col-sm-12">
                                <form enctype="multipart/form-data" method="post">

                                    <div class="form-group">
                                        <label for="Eid"
                                               class="col-form-label col-sm-12 text-center">Id</label>
                                        <div class="text-center">
                                            <input type="text"
                                                   class="form-control"
                                                   id="Eid"
                                                   readonly>
                                        </div>
                                        <label for="editStockTitle">Заголовок акции:</label>
                                        <input id="editStockTitle" type="text" name="title" placeholder="title"
                                               class="form-control"
                                               required="required">

                                        <label for="editStockText">Описание акции:</label>
                                        <textarea name="comment" id="editStockText" cols="45" rows="5"
                                                  class="form-control"
                                                  required="required"></textarea>

                                        <label for="editStartDate">Дата начала</label>
                                        <input type="date" id="editStartDate" name="date"/>
                                        <br>
<!--                                        <label for="editFinishDate">Дата окончания</label>-->
<!--                                        <input type="date" id="editFinishDate" name="date"/>-->

                                        <label for="editStockImg">Изображение</label>
                                        <input id="editStockImg" type="file" name="g" accept="image/jpeg"
                                               class="form-control">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>

                        <button type="submit" data-dismiss="modal" onclick="updateStock()" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------- End of Edit Stock Modal ------------------->


    </div>


    <script type="text/javascript" src="/stocks.js" async></script>
</div>
</body>
</html>