<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Категория товаров</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/mainPage.css" rel="stylesheet" type="text/css">
</head>
<body>
<header th:insert="/blocks/otherPagesHeader :: header"></header>

<main role="main" class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="categoriesBreadcrumb">
            <!-- from subcategoryPage.js -->
        </ol>
    </nav>
    <h4 id="productsInCategory">
        <!-- from subcategoryPage.js -->
    </h4>
    <hr class="mb-4">
    <div class="row">
        <!-- left column - filters -->
        <div class="col-3">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal">Фильтры</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title pricing-card-title my-0 font-weight-normal">Цена</h6>
                    <ul class="list-group mb-3">
                        <li class="d-flex">
                            <input type="text" class="form-control" id="priceFrom" placeholder="от " required style="min-width: 100px;">
                            &ensp;
                            <input type="text" class="form-control" id="priceTo" placeholder="до " required style="min-width: 100px;">
                        </li>
                    </ul>
                    <h6 class="card-title pricing-card-title my-0 font-weight-normal">Производитель</h6>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="d-block">
                                <div class="custom-control custom-radio">
                                    <input id="acer" name="producer" type="radio" class="custom-control-input" checked required>
                                    <label class="custom-control-label" for="acer">Acer</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="apple" name="producer" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="apple">Apple</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="asus" name="producer" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="asus">ASUS</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="other" name="producer" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="other"> </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <h6 class="card-title pricing-card-title my-0 font-weight-normal">Разрешение экрана</h6>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="d-block">
                                <div class="custom-control custom-radio">
                                    <input id="other1" name="resolution" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="other1"> </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <h6 class="card-title pricing-card-title my-0 font-weight-normal">Размер оперативной памяти</h6>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="d-block">
                                <div class="custom-control custom-radio">
                                    <input id="other2" name="ram" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="other2"> </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <hr class="mb-4">
                    <button class="btn btn-info btn-block" type="submit">Применить</button>
                    <button class="btn btn-outline-info btn-block" type="submit">Сбросить</button>
                </div>
            </div>
        </div>
        <!-- Products -->
        <div class="col-8">
            <div id="someProductsView">
                <!-- products view from subcategoryPage.js-->
            </div>
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<script src="../static/js/subcategoryPage.js"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>