<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<h1> Welcome to visitors page</h1>
<body style="background-color: whitesmoke">

<h1 style="font-size: 38px; background-color: black; color: white">
    <span sec:authentication="name"></span>
    <span th:each="authority : ${#authentication.getAuthorities()}"
          th:text="${authority.getAuthority()}">

    </span>
    <a th:href="@{/logout}">
        <button type="button" class="btn btn-warning mb-3 btn-sm btn pull-right ">Logout</button>
    </a>
</h1>

<span th:text="${#authentication.getPrincipal()}"></span> <!-- No ".getUsername()"-->
<span th:text="${#authentication.getAuthorities()}"></span>

</body>
</html>