<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm siteHeader">
        <h4 class="my-0 mr-md-auto text-light">Company name</h4>

        <nav class="my-2 my-md-0 mr-md-3">
            <!-- Search -->
            <form class="form-inline my-2 my-lg-0 formSearch">
                <input class="form-control mr-sm-2" type="text" placeholder="Поиск по сайту" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </nav>
        <!-- Customer service -->
        <a sec:authorize="hasAnyAuthority('ROLE_CUSTOMER')" class="btn btn-outline-secondary font-weight-bold secondarybtn"
           href="/customer">Кабинет покупателя</a>
        <!-- Login -->
        <a th:unless="${#authorization.expression('isAuthenticated()')}" class="btn btn-light loginbutton"
           href="/login">Войти</a>
        <a th:if="${#authorization.expression('isAuthenticated()')}" class="btn btn-light loginbutton" href="/logout">Выйти</a>
    </div>
</div>