<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">

    <!-- Optional JavaScript -->
    <script th:src="@{/static/js/downloadSpecificTab.js}"></script>
    <script th:src="@{/static/js/busket.js}"></script>

    <div class="d-flex flex-column  flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm siteHeader">
        <h5 class="my-0 mr-md-auto font-weight-normal">Online store</h5>

        <nav class="my-2 my-md-0 mr-md-3">
            <!-- Search -->
            <form class="form-inline my-2 my-lg-0" id="mainPageSearchForm">
                <input class="form-control mr-sm-2" type="text" id="pageSearchInput" placeholder="Поиск по сайту"
                       aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" id="pageSearchButton" type="button"><i
                        class="fa fa-search"></i></button>
            </form>
        </nav>
        <!-- Customer service -->
        <a sec:authorize="hasAnyAuthority('ROLE_CUSTOMER') and not hasAnyAuthority('ROLE_ADMIN')"
           class="btn btn-outline-secondary font-weight-bold secondarybtn"
           href="/customer">Кабинет покупателя</a>
        <a sec:authorize="hasAnyAuthority('ROLE_CUSTOMER') and not hasAnyAuthority('ROLE_ADMIN')" id="showBasket" href="/customer/basket">
            <img src="/uploads/images/buscket.jpg" width="25" height="25">
            <ins style="color: #ff8e05">
                Корзина
                <i id="countInBasket"></i>
            </ins>
        </a>
        <a sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="btn btn-outline-secondary font-weight-bold secondarybtn"
           href="/admin">Кабинет администратора</a>
        <a sec:authorize="hasAnyAuthority('ROLE_MANAGER') and not hasAnyAuthority('ROLE_ADMIN')"
           class="btn btn-outline-secondary font-weight-bold secondarybtn"
           href="/authority/profile">Кабинет менеджера</a>
        <a sec:authorize="hasAnyAuthority('ROLE_SERVICE') and not hasAnyAuthority('ROLE_ADMIN')"
           class="btn btn-outline-secondary font-weight-bold secondarybtn"
           href="/service">Кабинет сервисного работника</a>
        <a sec:authorize="hasAnyAuthority('ROLE_MODERATOR') and not hasAnyAuthority('ROLE_ADMIN')"
           class="btn btn-outline-secondary font-weight-bold secondarybtn"
           href="/moderator">Кабинет модератора</a>
        <!-- Registration -->
        <button th:unless="${#authorization.expression('isAuthenticated()')}"
                class="btn btn-outline-secondary font-weight-bold secondarybtn"
                data-toggle="modal" data-target="#openNewRegistrationModal">Регистрация
        </button>

        <!-- Login -->
        <a th:unless="${#authorization.expression('isAuthenticated()')}" class="btn btn-light loginbutton"
           href="/login">Войти</a>
        <a th:if="${#authorization.expression('isAuthenticated()')}" class="btn btn-light loginbutton" href="/logout">Выйти</a>
    </div>
</div>
</html>

